html,
body,
.app,
.main {
  text-align: center;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

.navbar {
  background-color: #1da1f2;
  padding-top: 20px;
  margin-bottom: 0 !important;
  border-radius: 0px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3); }
  .navbar .container {
    flex: 1;
    position: relative;
    top: 0px;
    width: 50%;
    margin: 0 auto;
    bottom: 0px;
    /* Position and sizing of burger button */
    /* Color/shape of burger icon bars */
    /* Position and sizing of clickable cross button */
    /* Color/shape of close button cross */
    /* General sidebar styles */
    /* Morph shape necessary with bubble or elastic */
    /* Wrapper for item list */
    /* Styling of overlay */ }
    @media screen and (max-width: 375px) {
      .navbar .container .nav-logo {
        width: 220px;
        height: auto; } }
    @media screen and (max-width: 479px) and (min-width: 375px) {
      .navbar .container .nav-logo {
        width: 275px;
        height: auto;
        padding-bottom: 10px; } }
    @media screen and (max-width: 700px) and (min-width: 480px) {
      .navbar .container .nav-logo {
        width: 400px;
        height: auto; } }
    @media screen and (min-width: 701px) {
      .navbar .container .nav-logo {
        float: left;
        margin-left: 10%; } }
    .navbar .container .bm-burger-button {
      position: fixed;
      width: 36px;
      height: 30px;
      right: 26px;
      top: 26px; }
      @media screen and (max-width: 374px) {
        .navbar .container .bm-burger-button {
          position: fixed;
          width: 36px;
          height: 30px;
          right: 20px;
          top: 20px; } }
    .navbar .container .bm-burger-bars {
      background: #373a47; }
    .navbar .container .bm-cross-button {
      height: 24px;
      width: 24px; }
    .navbar .container .bm-cross {
      background: #bdc3c7; }
    .navbar .container .bm-menu {
      background: #373a47;
      top: 0;
      margin-top: 0;
      padding: 2.5em 1.5em 0;
      font-size: 1.15em; }
    .navbar .container .bm-menu-wrap {
      position: fixed;
      top: 0; }
    .navbar .container .bm-morph-shape {
      fill: #373a47; }
    .navbar .container .bm-item-list {
      color: #b8b7ad;
      padding: 0.8em; }
    .navbar .container .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
      top: 0; }
    .navbar .container .nav {
      background-color: transparent;
      list-style: none;
      height: fit-content;
      width: fit-content;
      overflow: hidden; }
      @media screen and (max-width: 479px) {
        .navbar .container .nav .nav-item {
          display: none; }
        .navbar .container .nav .bar-navLink {
          background-color: transparent;
          text-decoration: none;
          color: white; }
          .navbar .container .nav .bar-navLink .active {
            background-color: transparent;
            text-decoration: none;
            color: #1da1f2; } }
      @media screen and (min-width: 480px) {
        .navbar .container .nav .nav-item {
          border-left: #222;
          border-left-style: solid;
          border-left-width: 1px;
          padding-top: 3px;
          position: relative;
          display: inline-block;
          text-decoration: none;
          color: black;
          font-family: Arial, Helvetica, sans-serif; }
          .navbar .container .nav .nav-item :hover {
            background-color: transparent; }
          .navbar .container .nav .nav-item .inner {
            border-left: none;
            padding: 20px; }
          .navbar .container .nav .nav-item .active {
            background-color: transparent;
            text-decoration: none;
            color: white;
            font-family: Arial, Helvetica, sans-serif; } }

.first {
  border-left: none !important; }

.Footer {
  background-color: #1da1f2;
  height: 75px;
  width: 100%;
  padding-right: auto;
  color: white;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3); }

.Home {
  text-align: center; }
  .Home .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
    .Home .wrapper .car {
      flex: 1;
      width: fit-content;
      height: fit-content;
      margin: auto; }
    .Home .wrapper .comments {
      flex: 1;
      margin: auto;
      height: fit-content;
      width: fit-content; }
      .Home .wrapper .comments .carousel.slide .carousel-control {
        color: #1da1f2;
        opacity: 0.75; }
      .Home .wrapper .comments .carousel.slide .carousel-control.right {
        background-image: none !important; }
      .Home .wrapper .comments .carousel.slide .carousel-control.right:hover {
        background-image: none !important;
        opacity: 1; }
      .Home .wrapper .comments .carousel.slide .carousel-control.left {
        background-image: none !important; }
      .Home .wrapper .comments .carousel.slide .carousel-control.left:hover {
        background-image: none !important;
        opacity: 1; }
      .Home .wrapper .comments .carousel.slide .carousel-inner {
        margin-top: 0px;
        padding-left: 50px;
        padding-right: 50px; }

.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  white-space: nowrap; }
  .slider .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%; }
    .slider .slider-wrapper .slide {
      display: inline-block;
      height: 30rem;
      width: 100%; }

.slider-right-arrow,
.slider-left-arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s; }
  .slider-right-arrow:hover,
  .slider-left-arrow:hover {
    transition: transform ease-in 0.1s;
    transform: scale(1.1); }

.slider-right-arrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff; }
  .slider-right-arrow img {
    transform: translate(2px, 0); }
    .slider-right-arrow img:focus {
      outline: 0; }

.slider-left-arrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff; }
  .slider-left-arrow img {
    transform: translate(-2px, 0); }
    .slider-left-arrow img:focus {
      outline: 0; }

.dots-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
  padding: 5px 0; }
  .dots-container .dot {
    background: #222;
    display: inline-block;
    padding: 7px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%; }
  .dots-container .active {
    background: #fff; }

.autoplay {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background: #ddd;
  color: #333;
  font-size: 15px; }
  .autoplay p {
    margin: 0; }

.Contact {
  text-align: center; }

.formWrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  max-width: 1170px;
  margin-top: 50px;
  margin-bottom: 100px; }
  .formWrapper .contactForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
    .formWrapper .contactForm .warning {
      padding-left: 10px; }
    .formWrapper .contactForm .label .input {
      padding-left: 12px; }
    .formWrapper .contactForm .message {
      grid-column: 1 / 3; }
      .formWrapper .contactForm .message #formControlsTextarea {
        height: 100px; }
    .formWrapper .contactForm .AMPM {
      margin-right: 10px; }

/*# sourceMappingURL=Style.css.map */
