$HFColor: #1da1f2;
html,
body,
.app,
.main {
  text-align: center;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: $HFColor;
  padding-top: 20px;
  margin-bottom: 0 !important;
  border-radius: 0px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  color: white;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
  .container {
    flex: 1;
    position: relative;
    top: 0px;
    width: 50%;
    margin: 0 auto;
    bottom: 0px;

    .nav-logo {
      @media screen and (max-width: 375px) {
        width: 220px;
        height: auto;
      }
      @media screen and (max-width: 479px) and (min-width: 375px) {
        width: 275px;
        height: auto;
        padding-bottom: 10px;
      }
      @media screen and (max-width: 700px) and (min-width: 480px) {
        width: 400px;
        height: auto;
      }
      @media screen and (min-width: 701px) {
        float: left;
        margin-left: 10%;
      }
    }

    /* Position and sizing of burger button */
    .bm-burger-button {
      position: fixed;
      width: 36px;
      height: 30px;
      right: 26px;
      top: 26px;
      @media screen and (max-width: 374px) {
        position: fixed;
        width: 36px;
        height: 30px;
        right: 20px;
        top: 20px;
      }
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: #373a47;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
      background: #bdc3c7;
    }

    /* General sidebar styles */
    .bm-menu {
      background: #373a47;
      top: 0;
      margin-top: 0;
      padding: 2.5em 1.5em 0;
      font-size: 1.15em;
    }

    .bm-menu-wrap {
      position: fixed;
      top: 0;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
      fill: #373a47;
    }

    /* Wrapper for item list */
    .bm-item-list {
      color: #b8b7ad;
      padding: 0.8em;
    }

    /* Styling of overlay */
    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
      top: 0;
    }
    .nav {
      background-color: transparent;
      list-style: none;
      height: fit-content;
      width: fit-content;
      overflow: hidden;
      // margin-top: 35px;

      @media screen and (max-width: 479px) {
        .nav-item {
          display: none;
        }
        .bar-navLink {
          background-color: transparent;
          text-decoration: none;
          color: rgb(255, 255, 255);
          .active {
            background-color: transparent;
            text-decoration: none;
            color: $HFColor;
          }
        }
      }
      @media screen and (min-width: 480px) {
        .nav-item {
          border-left: #222;
          border-left-style: solid;
          border-left-width: 1px;
          padding-top: 3px;
          position: relative;
          display: inline-block;
          text-decoration: none;
          color: rgb(0, 0, 0);
          font-family: Arial, Helvetica, sans-serif;

          :hover {
            background-color: transparent;
          }

          .inner {
            border-left: none;
            padding: 20px;
          }
          .active {
            background-color: transparent;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }
    }
  }
}

.first {
  border-left: none !important;
}
.Footer {
  background-color: $HFColor;
  height: 75px;
  width: 100%;
  padding-right: auto;
  color: white;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
}
.Home {
  text-align: center;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    .car {
      flex: 1;
      width: fit-content;
      height: fit-content;
      margin: auto;
    }

    .comments {
      flex: 1;
      margin: auto;
      height: fit-content;
      width: fit-content;
      .carousel.slide {
        .carousel-control {
          color: $HFColor;
          opacity: 0.75;
        }
        .carousel-control.right {
          background-image: none !important;
        }
        .carousel-control.right:hover {
          background-image: none !important;
          opacity: 1;
        }
        .carousel-control.left {
          background-image: none !important;
        }
        .carousel-control.left:hover {
          background-image: none !important;
          opacity: 1;
        }
        .carousel-inner {
          margin-top: 0px;
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;

  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .slide {
      display: inline-block;
      height: 30rem;
      width: 100%;
    }
  }
}

.slider-right-arrow,
.slider-left-arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;

  &:hover {
    transition: transform ease-in 0.1s;
    transform: scale(1.1);
  }
}

.slider-right-arrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(2px, 0);

    &:focus {
      outline: 0;
    }
  }
}

.slider-left-arrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(-2px, 0);

    &:focus {
      outline: 0;
    }
  }
}

.dots-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
  padding: 5px 0;

  .dot {
    background: #222;
    display: inline-block;
    padding: 7px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
  }
  .active {
    background: #fff;
  }
}

.autoplay {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background: #ddd;
  color: #333;
  font-size: 15px;

  p {
    margin: 0;
  }
}

.Contact {
  text-align: center;
}

.formWrapper {
  text-align: left !important;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  max-width: 1170px;
  margin-top: 50px;
  margin-bottom: 100px;
  .contactForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    @media screen and (max-width: 425px) {
      grid-template-columns: 1fr !important;
    }

    p {
      margin: 0;
    }

    // .warning {
    //   padding-left: 10px;
    // }

    .label {
      display: block;
    }
    // .input {
    //   margin-left: 12px;
    // }
    button,
    input,
    textarea,
    select {
      width: 100%;
      padding: 1em;
      padding-left: 0;
      padding-right: 0;
      border: 1px solid #c9e6ff;
    }
    button:hover,
    button:focus {
      background: $HFColor;
      color: #fff;
      outline: 0;
      transition: background-color 2s ease-out;
    }
    textarea {
      font-family: Arial, Helvetica, sans-serif;
    }
    .full {
      grid-column: 1/3;
      @media screen and (max-width: 425px) {
        grid-column: 1;
      }
    }
    .AMPM {
      margin-right: 10px;
      width: auto !important;
    }
  }
}

// .contact form label {
//   display: block;
// }

// .contact form p {
//   margin: 0;
// }

// .contact form .full {
//   grid-column: 1 / 3;
// }

// .contact form button,
// .contact form input,
// .contact form textarea {
//   width: 100%;
//   padding: 1em;
//   border: 1px solid #c9e6ff;
// }

// .contact form button {
//   background: #c9e6ff;
//   border: 0;
//   text-transform: uppercase;
// }

// .contact form button:hover,
// .contact form button:focus {
//   background: #92bde7;
//   color: #fff;
//   outline: 0;
//   transition: background-color 2s ease-out;
// }
