$HFColor: #1da1f2;

.App {
  text-align: center;
}
// .container {
//   height: 200px;
//   width: 100%;
// }
.App-header {
  background-color: $HFColor;
  height: auto;
  width: 100%;
  padding-top: 20px;
  padding-right: auto;
  color: white;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
    height: 30px;
    width: 100%;
    list-style: none;
    .nav-logo {
      margin-left: 10px;
      float: left;
    }
    .nav-item {
      float: left;
      margin-left: 20px;

      padding-top: 3px;
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-family: Arial, Helvetica, sans-serif;
      .active {
        float: left;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}

.Footer {
  background-color: $HFColor;
  height: 75px;
  width: 100%;
  padding-right: auto;
  color: white;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
}

html,
body,
.app,
.main {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;

  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .slide {
      display: inline-block;
      height: 30rem;
      width: 100%;
    }
  }
}

.slider-right-arrow,
.slider-left-arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;

  &:hover {
    transition: transform ease-in 0.1s;
    transform: scale(1.1);
  }
}

.slider-right-arrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(2px, 0);

    &:focus {
      outline: 0;
    }
  }
}

.slider-left-arrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(-2px, 0);

    &:focus {
      outline: 0;
    }
  }
}

.dots-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
  padding: 5px 0;

  .dot {
    background: #222;
    display: inline-block;
    padding: 7px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
  }
  .active {
    background: #fff;
  }
}

.autoplay {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background: #ddd;
  color: #333;
  font-size: 15px;

  p {
    margin: 0;
  }
}
