$HFColor: #1da1f2;

.App {
  text-align: center;
}

.navbar {
  background-color: $HFColor;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 0 !important;
  border-radius: 0px !important;

  color: white;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);

  .nav {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    margin-top: 45px;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    width: auto;
    list-style: none;
    .nav-logo {
      margin-left: 10px;
      float: left;
    }
    .navButton {
      color: $HFColor;
    }

    .nav-item {
      float: left;
      border-left: #222;
      border-left-style: solid;
      border-left-width: 1px;
      padding-top: 3px;
      position: inherit;
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-family: Arial, Helvetica, sans-serif;
      :hover {
        background-color: transparent;
      }

      .inner {
        border-left: none;
      }
      .active {
        background-color: transparent;
        float: left;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
.nav-bar {
  margin-top: 100px;
  .col-md-6 {
    margin-top: 0;
  }
  padding-right: 0 !important;
}
.first {
  border-left: none !important;
}
.Footer {
  background-color: $HFColor;
  height: 75px;
  width: 100%;
  padding-right: auto;
  color: white;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
}
.Home {
  text-align: center;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    .car {
      flex: 1;
      width: fit-content;
      height: fit-content;
      margin: auto;
    }

    .comments {
      flex: 1;
      margin: auto;
      height: fit-content;
      width: fit-content;
      .carousel.slide {
        .carousel-control {
          color: $HFColor;
          opacity: 0.75;
        }
        .carousel-control.right {
          background-image: none !important;
        }
        .carousel-control.right:hover {
          background-image: none !important;
          opacity: 1;
        }
        .carousel-control.left {
          background-image: none !important;
        }
        .carousel-control.left:hover {
          background-image: none !important;
          opacity: 1;
        }
        .carousel-inner {
          margin-top: 0px;
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
  }
}

html,
body,
.app,
.main {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;

  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .slide {
      display: inline-block;
      height: 30rem;
      width: 100%;
    }
  }
}

.slider-right-arrow,
.slider-left-arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;

  &:hover {
    transition: transform ease-in 0.1s;
    transform: scale(1.1);
  }
}

.slider-right-arrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(2px, 0);

    &:focus {
      outline: 0;
    }
  }
}

.slider-left-arrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(-2px, 0);

    &:focus {
      outline: 0;
    }
  }
}

.dots-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
  padding: 5px 0;

  .dot {
    background: #222;
    display: inline-block;
    padding: 7px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
  }
  .active {
    background: #fff;
  }
}

.autoplay {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background: #ddd;
  color: #333;
  font-size: 15px;

  p {
    margin: 0;
  }
}

.Contact {
  text-align: center;
  .contactForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .inputFeild {
      flex: 1;
    }
  }
}
